<nav class="navbar navbar-expand-md py-4 navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="#" class="navbar-brand" style="color: white; word-spacing: 30px"
      >Bill Detection System</a
    >
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <!-- <a href="#" class="nav-item nav-link">Contact</a> -->
      </div>
      <div class="navbar-nav ms-auto">
        <a href="./home/" class="nav-item nav-link bg-dark active">Home</a>
        <a href="./about/" class="nav-item nav-link bg-dark">About</a>
        <a href="./detect/" class="nav-item nav-link bg-dark">Detect</a>
        <a href="./login/" class="nav-item nav-link bg-dark">Login</a>
        <a href="./signup/" class="nav-item nav-link bg-dark">Sign-Up</a>
      </div>
    </div>
  </div>
</nav>

<div class="background"><router-outlet></router-outlet></div>
